.radio-wrapper {
  width: 100%;
  height: 200px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  $colors: #f7df1f, #82cd29, #41b882, #e66225;
  --max: 100;



  @for $i from 1 through 4 {
    .radio:nth-child(#{$i}) {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      position: relative;
      margin: 0 10px;
      --percentage: calc(var(--curr) / var(--max) * 100%);
      background: conic-gradient(nth($colors, $i) var(--percentage), #000 0);
      counter-reset: value var(--curr);
      color: nth($colors, $i);

      .text {
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: -30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
      }

      &::after {
        content: counter(value);
        text-align: center;
        line-height: 90px;
        color: #fff;
        display: block;
        width: 90px;
        position: absolute;
        left: 5px;
        top: 5px;
        height: 90px;
        border-radius: 45px;
        background: #222;
      }
    }
  }
}